.error {
  background: #ffffff;
  border-radius: 10px;
}
.error__set {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.error__set h1 {
  font-weight: 700;
}
.error__set span {
  font-size: 190px;
  font-weight: 600;
}

#error_btn {
  padding-top: 15px;
  width: 231px;
  height: 48px;
  border-radius: 5px;
  background-color: #ffe010;
  font-weight: 700;
  font-size: 14px;
  box-shadow: 0 5px #e0c405;
  margin: 15px auto;
  cursor: pointer;
  color: #000000 !important;
}

#error_btn:hover {
  background-color: #ffea5f;
  text-decoration: none !important;
}

#error_btn:active {
  box-shadow: 0 5px #ffe010;
}

@media screen and (max-width: 480px) {
  .error {
    background: #ffffff;
    border-radius: 10px;
  }
  .error__set {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .error__set h1 {
    font-weight: 700;
    font-size: 20px;
  }
  .error__set span {
    font-size: 120px;
    font-weight: 600;
  }
}