.contacts {
  text-align: center;
}
.contacts__address_block {
  display: none;
}
.contacts__address_block h1 {
  font-size: 18px;
  font-weight: 700;
}
.contacts__address_block h2 {
  font-size: 16px;
  font-weight: 300;
}
.contacts__address_block span a {
  font-size: 16px;
}

#Map_link_pc {
  display: block;
}

#Map_link_mobile {
  display: none;
}

#Map_link_retina {
  display: none;
}

@media screen and (max-width: 991px) {
  .contacts__address_block {
    display: block;
  }
  .contacts h1 {
    font-size: 18px;
    font-weight: 700;
  }
  .contacts h2 {
    font-size: 16px;
    font-weight: 300;
  }
  .contacts span a {
    font-size: 16px;
  }

  #Map_link_pc {
    display: none;
  }

  #Map_link_mobile {
    display: block;
  }
}
@media screen and (min-width: 1921px) {
  #Map_link_pc {
    display: none;
  }

  #Map_link_mobile {
    display: none;
  }

  #Map_link_retina {
    display: block;
  }
}