.modal-dialog {
  max-width: 360px;
  position: relative;
}

.modal-content {
  text-align: center;
  padding: 30px;
}
.modal-content h1 {
  font-weight: 700;
  font-size: 24px;
}
.modal-content span {
  padding-bottom: 20px;
  text-align: left;
  font-size: 14px;
  font-weight: 400;
}
.modal-content input {
  margin-top: 10px;
  border: 1px solid #e7e7e7;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.21) inset;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 300;
  font-size: 16px;
  width: 100%;
  height: 48px;
  border-radius: 5px;
}
.modal-content button {
  width: 231px;
  height: 48px;
  border-radius: 5px;
  background-color: #ffe010;
  font-weight: 700;
  font-size: 16px;
  box-shadow: 0 5px #e0c405;
  margin: 15px auto;
  cursor: pointer;
}
.modal-content button:hover {
  background-color: #ffea5f;
}
.modal-content button:active {
  box-shadow: 0 5px #ffe010;
}
.modal-content .close {
  top: -10px;
  left: 310px;
  position: absolute;
  max-width: 35px;
  max-height: 35px;
  box-shadow: none;
  padding-bottom: 45px;
  background-color: #ffe010 !important;
}
.modal-content .close span {
  right: 5px;
  position: absolute;
  padding: 0;
  font-size: 45px;
  margin: 0;
}
.modal-content .close:hover {
  background: #e0c405;
}
.modal-content .close:focus {
  box-shadow: none;
}
.modal-content .close:focus span {
  box-shadow: none;
  color: #000000;
}

/*header_modal*/