.request img {
  margin-bottom: -40px;
}
.request h2 {
  padding-top: 50px;
  color: #ffffff;
  font-weight: bolder;
}
.request h3 {
  color: #ffffff;
}

#request_phone {
  margin-top: 30px;
  max-width: 231px;
  height: 40px;
}

#request_question {
  widows: 80%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.21) inset;
  padding: 15px 15px 140px 15px;
  font-weight: 300;
  font-size: 16px;
}

#request_btn {
  width: 231px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: #ffe010;
  font-weight: 700;
  font-size: 16px;
  box-shadow: 0 5px #e0c405;
}

#request_btn:hover {
  background-color: #ffe95a;
}