.logo_panel
    font-size: 24px
    h3
        margin-right: 120px
        font-size: 18px
        font-weight: 100
        color: #ffffff
    &__tel_set
        margin-right: 30px
        img
            max-width: 20px
            max-height: 20px
    &__align
        color: #ffffff
        a
            text-decoration: none
            color: #ffffff
        span
            font-size: 20px
    &__align span:last-child
        color: #ffeb10 !important 
.navbar-brand span:first-child
    font-size: 24px
.navbar-brand span:last-child
    color: #ffeb10 !important
    font-family: Roboto-Slab
    font-weight: 700
    font-size: 24px
#logo_panel_btn
    margin-top: 10px
    max-height: 38px
    max-width: 175px
    color: #ffeb10
    border-radius: 5px
    border: 2px solid #ffeb10
#logo_panel_btn:hover
    background: #ffeb10
    color: #281001
    border-radius: 5px
    border: 2px solid #ffeb10
@media screen and ( max-width: 768px )
    .logo_panel
        h3
            margin-right: 0px
            display: none
        &__tel_set span
            margin-right: 0px
            font-size: 16px
@media screen and ( max-width: 872px )
    #logo_panel_btn
        display: none
    

        
